<h1 align="center">Las Vegas Right Now</h1>

<br>


<div align="center" class="dialog-boxes" ng-app="app">
  <div ng-controller="results_Ctrl">

    <datalist id="cities">
        <option >SFO</option>
        <option >JFK</option>
        <option >ARD</option>    
    </datalist>


    <input list="cities" ng-model="originPlace" placeholder="Departure Airport">  
    <button ng-onclik="setUp()">Search</button>

  </div>

</div>