<section align="center">
    <h1 class="loginheader">Login</h1>
    <%= form_tag "/login", method: :post do %>
      <div>
        Email:
        <input id="email" type="email" name="email">
      </div>

      <div>
        Password:
        <input id="password" type="password" name="password">
      </div>

      <input class="btn btn-default" type="submit" value="Log In">
    <% end %>
</section>