

<section align="center">
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single" align="center">
        
        </div>

        <h3 id="reviewheader">My Reviews:</h3>
        <br>
        <br>
        <p>
        <% @user.reviews.each do |review| %>
          Rating:<%= review.rating %><br>
          Description: <%= review.description %> <br>
          Place: <%= review.place.name %> <br>
          <a href="/reviews/<%= review.id %>/edit">Edit Review</a>
          </p>
        <% end %>


      </div>
    </div>
  </section>
