<h1 align="center">Las Vegas Right Now</h1>



<div ng-app="app">
  <div ng-controller="resultsCtrl">


    <datalist id="cities">
        <option >SFO</option>
        <option >JFK</option>
        <option >ARD</option>    
    </datalist>

    <div id="searchSection" align="center">
    <input list="cities" ng-model="originPlace" placeholder="Departure Airport">  
    <button ng-click="setUp()">Search</button>
    </div>

    <br>

    <button ng-click="myOrder('slice[0].segment[0].leg[0].departureTime')">Order by Departure Time</button>

    <button ng-click="myOrder('saleTotal')">Order by Price</button>



    <div id="results" align="center" ng-repeat="tripOption in tripOptions| orderBy:defOrder:direction track by $index">
      <p>Sale Total:{{tripOption.saleTotal}}</p>
      <p>Departure Time: {{tripOption.slice[0].segment[0].leg[0].departureTime}}</p>
      <p>Airline Code: {{tripOption.pricing[0].fare[0].carrier}} <p>
      <p>Origin City: {{tripOption.pricing[0].fare[0].origin}} </p>
      <p>Arrival Time: {{tripOption.slice[0].segment[0].leg[0].arrivalTime}} </p>
      <button ng-click="newTab()">Buy Now</button>
      <br>
    </div>
    <br>


    </div>
  </div>

