<h1 align="center">Las Vegas Right Now</h1>

<div id="lyft-web-button-parent">
  
</div>



<div ng-app="app">
  <div ng-controller="resultsCtrl">


    <datalist id="cities">
      <option ng-repeat="airport in matchingAirports" value="{{airport.code}}">{{airport.city + ", " + airport.code}}</option>
    </datalist>

    <div id="searchSection" align="center">
    <input list="cities" ng-model="originPlace" placeholder="Depart" ng-change="updateDatalist(originPlace)">  
    <button ng-click="setUp(); show ">Search</button>
    </div>

    <br>

    <div id="weather">
    <p> Current Weather:</p>
    <p>Temperature: {{weather.current_observation.temp_f}}</p>
    <img src="{{weather.current_observation.icon_url}}" alt="">
      
    </div>

    <button ng-if="show" ng-click="myOrder('slice[0].segment[0].leg[0].departureTime')">Order by Departure Time</button>

    <button ng-if="show" ng-click="myOrder('saleTotal')">Order by Price</button>



    <div id="results" align="center" ng-repeat="tripOption in tripOptions| orderBy:defOrder:direction track by $index">
      <p>Sale Total:{{tripOption.saleTotal}}</p>
      <p>Departure Time: {{tripOption.slice[0].segment[0].leg[0].departureTime}}</p>
      <p>Airline Code: {{tripOption.pricing[0].fare[0].carrier}} <p>
      <p>Origin City: {{tripOption.pricing[0].fare[0].origin}} </p>
      <p>Arrival Time: {{tripOption.slice[0].segment[0].leg[0].arrivalTime}} </p>
      <button ng-click="newTab()">Buy Now</button>
      <br>
    </div>
    <br>


    </div>
  </div>

