<div ng-app="app">
  <div ng-controller="resultsCtrl">

    <!-- HERO -->
    <section id="hero" class="module-hero module-video module-full-height bg-light-30" data-background="assets/images/section-11.jpg">
      <!-- HERO TEXT -->
          <datalist id="cities">
            <option ng-repeat="airport in matchingAirports" value="{{airport.code}}">{{airport.city + ", " + airport.code}}</option>
          </datalist>

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <div id="searchSection" align="center">
          <input id="search" list="cities" ng-model="originPlace" placeholder="Depart" ng-change="updateDatalist(originPlace)">  
          <a class="btn btn-info" ng-click="setUp(); show ">Search</a>
          <button ng-show="loading" class="btn btn-lg btn-warning">
            <span class="glyphicon glyphicon-refresh spinning"></span> Searching...
            </button> 
          </div>

          <br>


          <div id="weather">
          <p class="weather">{{weather.current_observation.temp_f}}F</p> 
          <img class="weather-image" src="{{weather.current_observation.icon_url}}" alt="">
            
          </div>

        <!-- /HERO TEXT -->

        <!-- YOUTUBE VIDEO-->
        <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=uG1qZlEtorM', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}"></div>
        <!-- /YOUTUBE VIDEO-->

      </section>
      <!-- /HERO -->
      <div id="anchor" style="position:relative;top:-150px;"></div>

      <div ng-show="tripOptions" id="results">
        <div id="lyft-web-button-parent"></div>

        <button id="filterone" class="btn btn-default" ng-click="myOrder('slice[0].segment[0].leg[0].departureTime')">Order by Departure Time</button>

        <button id="filtertwo" class="btn btn-default"  ng-click="myOrder('saleTotal')">Order by Price</button>


        <section class="module">
          <div class="container">
            <div class="row multi-columns-row" style="padding-top: 0px;">
              <!-- PRICE-TABLE -->
              <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="tripOption in tripOptions| orderBy:defOrder:direction track by $index">
                <div class="price-table font-alt">
                  <h4>Departure Time: {{tripOption.slice[0].segment[0].leg[0].departureTime}}</h4>
                  <div class="borderline"></div>
                  <p class="price"><span>$</span>{{tripOption.saleTotal}}</p>
                  <ul class="price-details">
                    <li>Airline Code: {{tripOption.pricing[0].fare[0].carrier}}</li>
                    <li>Origin City: {{tripOption.pricing[0].fare[0].origin}}</li>
                    <li>Arrival Time: {{tripOption.slice[0].segment[0].leg[0].arrivalTime}}</li>
                  </ul>
                  <a ng-click="newTab()" href="#" class="btn btn-d btn-round">Buy Now</a>
                </div>
              </div>
              <!-- /PRICE-TABLE -->
            </div>
          </div>
        </section>
        <br>
      </div>



      </div>
    </div>


  </div>
</div>
