.result {
  border: 2px solid black
}

#weather {
  background-color: #ffffff;
  opacity: 0.7;
  width: 100px;
  margin-left: auto ;
  margin-right: auto ;
  color: #000000;
  height: 45px;
  border-radius: 4px;
}

#search {

  height: 32px;
  border-radius: 4px;
}

.Title {
  font-size: 80px;
  color: white;
}

#lyft-web-button-parent {
  float: left;
}

#results {
  padding-top: 70px;
}

.weather {
  display: inline;
}

#lyft-web-button-parent {
  border: 5px solid #FF00BF;
}