<section class="module">

<h1 align="center">Places:</h1>

  <br>

    <div align="center" id="filter-tabs">

      <% if current_user %>

      <a href="/myreviews" class="btn btn-info" role="button">My Reviews</a>

      <% end %>

      <a href="/places" class="btn btn-info" role="button">All</a>

      <a href="/places?category=Hotel" class="btn btn-info" role="button">Hotels</a>

      <a href="/places?category=Bar" class="btn btn-info" role="button">Bars</a>

       <a href="/places?category=Club" class="btn btn-info" role="button">Clubs</a>


    </div>

</div>

      <div class="container">

        <div class="row multi-columns-row">

        <% @places.each_slice(3) do |three_places| %>

          <!-- POST -->
          <% three_places.each do |place| %>
          <div class="col-sm-6 col-md-4 col-lg-4 m-b-60">
            <div class="post">
              <div class="post-media">
                <a href="/places/<%= place.id %>">
                  <img src="<%= place.image_url %>" alt="">
                </a>
              </div>
              <div class="post-header">
                <h4 class="post-title font-alt">
                  <a href="/places/<%= place.id %>"><%= place.name %></a>
                </h4>
              </div>
            </div>
          </div>

          <% end %>
          <% end %>
          <!-- /POST -->


        </div>

      </div>

    </section>