
<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 align="center">Places:</h1>

  <br>

    <div align="center" id="filter-tabs">

      <% if current_user %>

      <a href="/myreviews" class="btn btn-info" role="button">My Reviews</a>

      <% end %>

      <a href="/places" class="btn btn-info" role="button">All</a>

      <a href="/places?category=Hotel" class="btn btn-info" role="button">Hotels</a>

      <a href="/places?category=Bar" class="btn btn-info" role="button">Bars</a>

       <a href="/places?category=Club" class="btn btn-info" role="button">Clubs</a>

      <br>
      <br>

    </div>

</div>



 
  
  <% @places.each_slice(3) do |three_places| %>

    <div class="row">
    
      <% three_places.each do |place| %>
        <div class ="col-md-4 col-sm-4">
          <div class="well">


          <a href="/places/<%= place.id %>"><%= place.name %></a>
          <p> <img src="<%= place.image_url %>" style="height:300px;width:400px"> </img></p>
          <br></br>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>